.banner-main .banner-item h1 {
	color: #ff463a;
}

.banner-main .banner-item a {
	color: #ff463a;
}

#about .about-item h3 {
	color: #ff463a;
	
}

.common-head h4 {
	color: #ff463a;
}

#poject .button-all button {
	color: #ff463a;
}

#poject .poject-all .poject-item h4 {
	color: #ff463a;
}

#poject .poject-all .poject-item h4 {
	color: #ff463a;
}

#poject .poject-all .poject-overlay {
	background: rgba(255, 71, 58, 0.7);
}

#video .video-content h5 {
	color: #ff463a;
}

#count .count-item h6 {
	color: #ff463a;
}

#count .count-item h6 {
	color: #ff463a;
}

#posting .posting-content a {
	color: #ff463a;
}

#posting .posting-img::after {
	background: rgba(255, 71, 58, 0.7);
}

.footer-head h5 {
	color: #ff463a;
}

#footer .footer-first a {
	color: #ff463a;
}

#copy {
	border-top: 1px solid #ff463a;
}

.main-menu .navbar-nav .nav-link:hover {
	color: #ff463a;
}

.type{
    color: #ff463a;
}